@model MongoDBProject.Dtos.CategoryDtos.GetByIdCategoryDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kategori Güncelleme</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <br /><br />
        <form method="post">
            <div class="alert alert-info">Kategori Güncelleme Sayfası</div>
            <input type="text" asp-for="CategoryId" class="form-control" readonly="readonly" required>
            <label for="categoryName">Kategori Adı</label>
            <input type="text" asp-for="CategoryName" class="form-control" placeholder="Kategori Adı" required>
            <br />
            <button class="btn btn-primary"> Kategori Güncelle </button>
        </form>
    </div>
</body>
</html>
